{% extends "layout.html" %}

{% block content2 %}

    <form method="POST" action="">

        <fieldset class="form-group">
            
            <div class="form-group">

                    {{  form.search(class="form-control form-control-lg") }}

            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>

    <a href="{{ url_for('storyboard_view') }}">Project 1</a><span>Last edited [just now] by [user]</span>

{% endblock %}
